* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100hv;
    background-color: #edede5;
}

main {
    flex: 1;
}

/* Logotipo principal centro arriba del navegador */
div#logo {
    text-align: center;
}

div#logo img {
    width: 112px;
    height: 112px;
}

/* Navegador fijo en el centro con bordes */
div.navegador {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 0.5%;
}

div.navegador nav ul.horizontal {
    display: flex;
    justify-content: center;
    background-color: #233347;
    border: 1px solid #b4b4b4;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    min-width: 250px;
    box-shadow: 0px 0px 0.8px 0.8px #adacac;
}

nav ul.horizontal li {
    flex: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

nav ul.horizontal li a {
    color: white;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    border-right: 1px solid #b4b4b4;
}

nav ul.horizontal li a.borde-derecho {
    border-right: none;
}

/* Resalta al pasar el mouse sobre otra página en el navegador*/
nav ul.horizontal li a:hover {
    background-color: #466182;
    
    text-shadow: #000000;
}

/* Resaltando la página actual */
.active {
    background-color: #466182 ;
}

/* Mapa de OpenStreetMap dentro de un iframe */
div.contenedor-mapa {
    display: block;
    width: 310px;
    height: 260px;
    margin: auto;
    margin-top: 5%;
    border: none;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

div.contenedor-mapa iframe {
    width: 300px;
    height: 250px;
}

/* Sección datos de contacto, título, líneas decorativas de listado y tres globos(uno para cada dato) */
div.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 3%;
    gap: 20px;
}

div.contacto h1 {
    background-color: #dde0e4;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
}

.linea-vertical {
    width: 30px;
    height: 70px;
}

div.contacto span {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

div.telefono {
    display: flex;
    float: left;
    gap: 15px;
    margin-top: 15px;
}

div.correo {
    display: flex;
    float: left;
    gap: 15px;
}

div.direccion {
    display: flex;
    float: left;
    gap: 15px;
}

/* Pie de página con íconos de redes sociales, un nav para dirigirse a las demás páginas del sitio, ubicación y derechos de autor */
footer {
    background-color: #233347;
    height: 200px;
    position: relative;
    margin: 0;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clear: both;
}

div.contenedor-redes {
    position: absolute;
    top: 10%;
    left: 2%;
    display: flex;
    gap: 10px;
}

div.contenedor-redes img {
    width: 40px;
}

div.contenedor-redes a {
    text-decoration: none;
    color: #ccc;
}

p.direccion {
    position: absolute;
    top: 40%;
    left: 2%;
    color: #ccc;
}

footer nav {
    position: absolute;
    top: 10%;
    right: 15%;
    display: flex;
    gap: 15px;
}

footer nav a {
    color: #ccc;
    font-size: 1.2em;
}

#copyright {
    position: absolute;
    bottom: 10%;
    left: 2%;
}

#copyright p {
    color: #ccc;
    font-size: 0.8em;
    margin: auto;
}

/* Responsive para adaptar algunos elementos a pantallas más pequeñas o pantallas muy grandes */
@media (min-width: 320px) and (max-width: 767px) {
    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    div.contenedor-redes {
        position: static;
        margin: 10px 0;
    }

    p.direccion {
        position: static;
        margin: 10px 0;
    }

    footer nav {
        position: static;
        margin: 10px 0;
    }

    #copyright {
        position: static;
        margin: 10px 0 30px;
        text-align: center;
    }
}

@media (min-width: 2560px) {
    div#logo img {
        width: 200px;
        height: 200px;
    }

    div.navegador {
        margin-top: 0.7%;
    }

    div.navegador nav ul.horizontal {
        box-shadow: 0px 0px 1.2px 1.2px #adacac;
    }

    nav ul.horizontal li {
        font-size: 1.5em;
    }

    nav ul.horizontal li a {
        padding: 0.8em;
    }

    div.contenedor-mapa {
        width: 600px;
        height: 490px;
    }

    div.contenedor-mapa iframe {
        width: 580px;
        height: 480px;
    }

    div.contacto {
        gap: 35px;
    }

    .linea-vertical {
        width: 40px;
        height: 100px;
    }

    div.contacto span {
        gap: 6px;
        padding: 15px;
    }

    div.telefono, div.correo, div.direccion {
        gap: 25px;
    }

    div.contacto h3 {
        font-size: 2em;
    }

    div.contacto h4 {
        font-size: 1.8em;
    }

    div.contacto p {
        font-size: 1.6em;
    }

    footer {
        height: 350px;
    }

    #copyright p {
        font-size: 1.5em;
    }

    p.direccion {
        font-size: 1.7em;
    }

    footer nav a {
        font-size: 1.7em;
    }
}